flows.json
[
    {
        "id": "e80c7143e2a3d294",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3fcc5982b919ecbc",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "5fca81e5eb0ff2ec",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\r\\n",
        "responsetimeout": 10000
    },
    {
        "id": "6fb353f83194865b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "emqx",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2ccb6e3b61989da0",
        "type": "serial in",
        "z": "e80c7143e2a3d294",
        "name": "esp32",
        "serial": "5fca81e5eb0ff2ec",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "0ae88c07cf729856",
                "bb04dafd854e5da9",
                "e4e180088539c6a5"
            ]
        ]
    },
    {
        "id": "0ae88c07cf729856",
        "type": "debug",
        "z": "e80c7143e2a3d294",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "f70dd21eccbe259f",
        "type": "debug",
        "z": "e80c7143e2a3d294",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 20,
        "wires": []
    },
    {
        "id": "4ab6cb578708e614",
        "type": "function",
        "z": "e80c7143e2a3d294",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 80,
        "wires": [
            [
                "39aaae8c6b090bb7"
            ]
        ]
    },
    {
        "id": "39aaae8c6b090bb7",
        "type": "serial out",
        "z": "e80c7143e2a3d294",
        "name": "espgetcommand",
        "serial": "5fca81e5eb0ff2ec",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "bb04dafd854e5da9",
        "type": "mqtt out",
        "z": "e80c7143e2a3d294",
        "name": "",
        "topic": "akm/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6fb353f83194865b",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "10b449112a2797a8",
        "type": "trigger",
        "z": "e80c7143e2a3d294",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "num",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "80af0bbfb654a139"
            ]
        ]
    },
    {
        "id": "80af0bbfb654a139",
        "type": "serial out",
        "z": "e80c7143e2a3d294",
        "name": "espgetcommand",
        "serial": "5fca81e5eb0ff2ec",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "1eb04c90fd9169bd",
        "type": "mqtt in",
        "z": "e80c7143e2a3d294",
        "name": "",
        "topic": "akm/command",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6fb353f83194865b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "4ab6cb578708e614",
                "f70dd21eccbe259f",
                "10b449112a2797a8"
            ]
        ]
    },
    {
        "id": "e4e180088539c6a5",
        "type": "trigger",
        "z": "e80c7143e2a3d294",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 360,
        "wires": [
            [
                "90c3085f5fc6ce3f"
            ]
        ]
    },
    {
        "id": "0b9ecdd16b95b083",
        "type": "mqtt out",
        "z": "e80c7143e2a3d294",
        "name": "",
        "topic": "akm/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6fb353f83194865b",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "26ba72a31716cc88",
        "type": "debug",
        "z": "e80c7143e2a3d294",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 260,
        "wires": []
    },
    {
        "id": "90c3085f5fc6ce3f",
        "type": "function",
        "z": "e80c7143e2a3d294",
        "name": "function 2",
        "func": "let data = String(msg.payload)\nconst myArray = data.split(\":\")\nlet word = myArray[0]\nword = word + \":STOP\"\nmsg.payload = word\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 360,
        "wires": [
            [
                "26ba72a31716cc88",
                "0b9ecdd16b95b083"
            ]
        ]
    }
]